<div class="form-container">
  <form>
    <div class="input-grid">
      <div class="input-container p-float-label">
        <input
          type="number"
          pInputText
          name="manualId"
          [(ngModel)]="nuevoNotificacion.id"
        />
        <label for="manualId">ID notificacion</label>
      </div>

      <div class="input-container p-float-label">
        <input
          pInputText
          type="number"
          [(ngModel)]="nuevoNotificacion.proyectoId"
          name="proyectoId"
        />
        <label for="proyectoId">ID Del Proyecto:</label>
      </div>

      <div class="input-container p-float-label">
        <input
          pInputText
          type="number"
          [(ngModel)]="nuevoNotificacion.recursoId"
          name="recursoId"
        />
        <label for="recursoId">ID Del Recurso:</label>
      </div>

      <div class="input-container p-float-label">
        <input
          pInputText
          type="number"
          [(ngModel)]="nuevoNotificacion.avance"
          name="avance"
        />
        <label for="avance">avance:</label>
      </div>

      <div class="input-container p-float-label">
        <input
          pInputText
          type="number"
          [(ngModel)]="nuevoNotificacion.tiempoDedicado"
          name="tiempoDedicado"
        />
        <label for="tiempoDedicado">tiempo Dedicado:</label>
      </div>

      <div class="input-container p-float-label">
        <p-calendar
          [(ngModel)]="nuevoNotificacion.fecha"
          dateFormat="dd/mm/yy"
          name="fecha"
        ></p-calendar>
        <label for="fecha">fecha:</label>
      </div>
    </div>

    <div class="button-container">
      <button
        pButton
        type="button"
        label="Crear"
        (click)="agregarNotificacion()"
      ></button>
      <button
        pButton
        type="button"
        label="Ver"
        (click)="obtenerNotificaciones()"
      ></button>
      <button
        pButton
        type="button"
        label="Actualizar"
        (click)="actualizarNotificacion()"
      ></button>
      <button
        pButton
        type="button"
        label="Eliminar"
        (click)="eliminarNotificacion()"
      ></button>
    </div>
  </form>
</div>

<div class="table-container">
  <div class="table-wrapper">
    <app-tabla [recursos]="recursosMostrar"></app-tabla>
  </div>
</div>

<div class="card"><p-messages></p-messages></div>
