/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Estilos para el Navbar */
::ng-deep .app-navbar {
  background-color: #1c2833;
}

::ng-deep .navbar-link {
  color: #ecf0f1;
  text-decoration: none;
  padding: 1rem 2rem;
  transition: background-color 0.3s ease-in-out;
}

::ng-deep .navbar-link:hover {
  background-color: #34495e !important;
}

::ng-deep .p-menuitem-text {
  font-weight: bold;
  margin-left: 0.5rem;
}

/* Estilos para resaltar el ítem activo en el Navbar */
::ng-deep .p-menuitem-active {
  background-color: #34495e !important;
}
