/* Estilos para el formulario */
.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.input-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin-top: 15px;
}

.input-container {
  margin-bottom: 15px;
}

/* Estilos para los botones */
.button-container {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.button-container button {
  margin: 0 5px;
}

.table-wrapper {
  max-height: 200px;
  
}

table {
  width: 100%;
  border: 2px solid #ddd;
}

table th,
table td {
  border: 2px solid #160202;
  padding: 8px;
  text-align: left;
  font-size: 16px;
}

table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.table-container {
  gap: 3px;
  padding: 10px;
  margin: 10px;
  overflow: auto;
  width: auto;
  height: 100%;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
  border: 2px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.flex {
  display: flex;
}
