<div class="form-container">
  <form>
    <div class="input-grid">
      <div class="input-container">
        <label for="manualId">ID Manual:</label>
        <input
          type="number"
          pInputText
          name="manualId"
          [(ngModel)]="manualId"
        />
      </div>

      <div class="input-container">
        <label for="nombre">Nombre:</label>
        <input
          pInputText
          type="text"
          [(ngModel)]="nuevoRecurso.nombre"
          name="nombre"
        />
      </div>
    </div>

    <div class="button-container">
      <button
        pButton
        type="button"
        (click)="agregarRecurso()"
        label="Agregar"
      ></button>
      <button
        pButton
        type="button"
        (click)="obtenerRecursos()"
        label="Ver"
      ></button>
      <button
        pButton
        type="button"
        (click)="actualizarRecurso()"
        label="Actualizar"
      ></button>
      <button
        pButton
        type="button"
        (click)="eliminarRecurso()"
        label="Eliminar"
      ></button>
    </div>
  </form>
</div>
