/* Estilos para el formulario */
.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.input-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin-top: 15px;
}

.input-container {
  margin-bottom: 15px;
}

/* Estilos para los botones */
.button-container {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.button-container button {
  margin: 0 5px;
}
